.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-align: center;
}
body{
  background-image: linear-gradient( skyblue, red);
  min-height: 800px;
}
form{
  text-align: center;
  margin-top: 30px;
}
label{
  font-size: 27px;
  font-style: italic;
  font-weight: bold;
  margin-top: 30px;
}
input{
height: 50px;
width: 270px;
border-radius: 30px;
background-color: aquamarine;
margin-top: 30px;
text-align: center;
}
button{
  height: 70px;
  width: 210px;
  border-radius: 30px;
  background-color: #61dafb;
  font-size: 20px;
  margin-top: 40px;
  border: 2px solid black;
}
.parent_box{
  width: 1200px;
  min-height: 0px;
  border: 2px solid black;
  background-color: aquamarine;
  margin: 120px;
  display: flex ;
  gap: 30px;
  flex-wrap: wrap;
}
.content_box{
  height: 60px;
  width: 500px;
  border: 1px solid black;
  background-color: rgb(227, 156, 156);
  margin: 20;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  font-size: 20px;
  font-weight: bold;

}
button:hover{
  background-color: aqua;
}